/* დავალება კომენტარებით ახსენით, რა არის CSS-ის წესი, დეკლარაცია, კუთვნილება და კუთვნილების მნიშვნელობა */



    /* CSS-ის წესი არის კოდი, რომელიც განსაზღვრავს, თუ როგორ უნდა გამოიყურებოდეს HTML ელემენტები.  შედგება სელექტორის და დეკლარაციის ბლოკისგან. */

    /* CSS-ის წესი */
    /* p {
        color: red;
        font-size: 16px;
    } */


/* დეკლარაცია 
    შეიცავს კუთვნილებას(property)  და მის მნიშვნელობას (value) კუთვნილება ყოველთვის რჩება უცვლელი, ხოლო მნიშვნელობა შეიძლება იყოს შეცვლადი მაგალითად:
    p {
        font-size: 20px;  
    } */
    /* font-size არის კუთვნილება (უცვლელი)  ხოლო მნიშვნელობა px რომლის შეცვლაც შეგვიძლია */



    /* კუთვნილების მნიშვნელობა:
     კუთვნილების მნიშვნელობა განსაზღვრავს, თუ რას მიენიჭება ეს კუთვნილება. ეს შეიძლება იყოს ფერი, ზომა, შრიფტის ტიპი და ა.შ. */
